:root {
  --ff-nunito: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--ff-nunito);
  font-weight: 400;
  font-size: 1rem;
}

.autocomplete-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}
input {
  border: none;
  outline: none;
}
input, button {
 border-radius: 0.5rem;
}
button {
 border: none; 
 background-color: #2b2b2b;
 color: white;
 padding: 0.5rem 3rem;
 cursor: pointer;
}
